*{
    margin: 0;
    padding: 0;
}

/* カラー */
/* base:404040
main:727272
accent:FF5824 */

/* フォント */
.abhaya-libre-regular {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
  }

.noto-sans-jp-uniquifier {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
  }
.zen-old-mincho-semibold {
    font-family: "Zen Old Mincho", serif;
    font-weight: 600;
    font-style: normal;
}

.sp{
    display: block;
}
.pc{
    display: none;
}
.pc1400{
    display: none;
}
body{
    background-color: #404040;
}
p{
    letter-spacing: 0.05em;
}

.box{
    opacity: 0;
    transition: 1.5s;
    position: relative;
    top: 50%;
}
.active{
    opacity: 1;
    top: 0;
}

/* ヘッダー */
header{
    background-color: rgba(64, 64, 64, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    width: 100vw;
}
.event_jump{
    background-color: #FF5824;
    height: 60px;
    width: 190px;
    line-height: 3.5;
    text-align: center;
    border-radius: 10px;
    margin-left: 20px;
}
.event_jump a{
    text-decoration: none;
    color: white;
}

.drawer_hidden{
    display: none;
}
.drawer_open{
    display: flex;
    height: 100px;
    width: 70px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
}
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after{
    content: "";
    display: block;
    height: 3px;
    width: 35px;
    border-radius: 3px;
    background: white;
    transition: 0.5s;
    position: absolute;
}
.drawer_open span:before{
    bottom: 12px;
}
.drawer_open span:after{
    top: 12px;
}
#drawer_input:checked ~ .drawer_open span{
    background: rgba(255, 255, 255, 0);
}
#drawer_input:checked ~ .drawer_open span::before{
    bottom: 0;
    transform: rotate(45deg);
}
#drawer_input:checked ~ .drawer_open span::after{
    top: 0;
    transform: rotate(-45deg);
}
.nav_content{
    width: 80%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 99;
    background: #727272;
    transition: .5s;
    border-radius: 10px 0 0 0;
}
.nav_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.nav_list li{
    padding: 20px;
}
.nav_list li a{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    font-family: "Zen Old Mincho";
    font-size: 120%;
    transition: .3s;
}
.hum2{
    background-color: #B7B7B7;
    border-radius: 0 0 0 10px;
}
.hum2 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.hum2 ul li{
    color: white;
    padding: 10px;
    list-style: none;
}
.hum_phon a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nav_list a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    left: 50%;
    bottom: 0;
    transition: .3s;
    background-color: #FF5824;
    transform: translate(-50%);
}
.nav_list a:hover::after{
    width: 100%;
}
#drawer_input:checked ~ .nav_content{
    left: 20%;
    box-shadow: 2px 2px 3px 0 #404040;
}
.phon_icon{
    margin-left: auto;
}


/* セクション1 */
.section1{
    background-color: #404040;
}
.photo_bg{
    background-image: url(../image/myway.jpg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
}

.photo_bg::before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(rgba(255,255,255,0)0,#404040 100%);
    position: absolute;
    top: 0;
    left: 0;
}
.logo_white{
    position: absolute;
    top: 220px;
}
h1{
    font-family: "Zen Old Mincho";
    font-weight: 600;
    color: white;
    font-size: 480%;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.title2_3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
.title2{
    font-family: "Abhaya Libre";
    font-size: 220%;
    color: white;
}
.title3{
    font-family: "Zen Old Mincho";
    font-size: 150%;
    color: white;
}
.section1_text p,
.section1_text li{
    color: white;
    font-family: "Noto Sans JP";
    letter-spacing: 0.05em;
}
.section1_text span{
    color: #FF5824;
    font-weight: bold;
}
.text{
    text-align: center;
    margin-top: 20px;
    font-size: 95%;
    line-height: 2;
}
.section1_text ul{
    margin: 30px auto;
    list-style: none;
    letter-spacing: 0.05em;
    line-height: 2;
    width: fit-content;
}
.text_lust{
    font-size: 120%;
    color: white;
    text-align: center;
    font-family: "Noto Sans JP";
}
.sec1_photo1 img{
    width: 80%;
    margin: 30px 60px 5px 20px;
}
.sec1_photo2 img{
    width: 60%;
}
.sec1_photo2{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}


/* セクション2 */
.point1{
    margin-top: 100px;
    position: relative;
}
.deco{
    content: "";
    display: block;
    border:1px #727272 solid;
    width: 90%;
    height: 330px;
    border-radius: 50%;
    transform: rotate(-5deg);
    margin: 0 auto;
}
.text_all{
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
}
.tag{
    color: #727272;
    font-size: 140%;
    text-align: center;
    font-family: "Abhaya Libre";
}
.point1 h2,
.point2 h2,
.pc_point1_text h2,
.pc_point2_text h2,
.section3 h2,
.menu h2,
.section5 h2,
.section6 h2{
    color: white;
    font-family: "Zen Old Mincho";
    font-weight: bold;
    text-align: center;
}
.point1_text,
.point2_text{
    color: white;
    line-height: 1.5;
    text-align: center;
    margin-top: 20px;
    font-family: "Noto Sans JP";
}
.point2{
    margin-top: 40px;
    position: relative;
}
.point_info1{
    position: relative;
    margin: 60px 15% 40px;
}
.point_info1 p{
    color: white;
    font-size: 120%;
    z-index: 10;
    padding-left: 20px;
}
.point_info1::before{
    content: "";
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #727272;
    opacity: 0.8;
    z-index: -1;
    position: absolute;
    top: -30px;
}
.point_info2{
    position: relative;
    margin: 60px 15% 40px;
}
.point_info2 p{
    color: white;
    font-size: 120%;
    z-index: 10;
    padding-left: 20px;
}
.point_info2::before{
    content: "";
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #727272;
    opacity: 0.8;
    z-index: -1;
    position: absolute;
    top: -25px;
}
.slider{
    width: 95%; 
    margin: 0 auto;
    padding-bottom: 100px;
}
.slick-track{
    display: flex;
    align-items: flex-end;
    padding-top: 50px;
}
.slider img{
    width: 95%;
    max-height: 500px;
}

/* セクション6 */
.section6{
    background-color: #727272;
    padding-top: 100px;
}
.calender{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    max-width: 1000px;
    min-width: 350px;
    margin: 0 auto;
}
#calendar{
    color: white;
    padding-top: 80px;
    display: flex;
    align-items: center;
}
.fc-header-toolbar,
.fc-view-harness,
.fc-col-header, .fc-daygrid-body, .fc-scrollgrid-sync-table{
	width: 93%;
	max-width: 1000px;
}
th.fc-day-sun,
th.fc-day-mon,
th.fc-day-tue,
th.fc-day-wed,
th.fc-day-thu,
th.fc-day-fri,
th.fc-day-sat
 { 
    background-color: #2C3E50;
    /* opacity: 0.8; */
}
td.fc-day-sun,
td.fc-day-mon{
    background-color: #2C3E50;
    opacity: 0.5;
}

.calendar_vac{
    color: white;
    padding-top: 10px;
    width: 93%;
    margin: 0 auto;
    max-width: 1000px;
}
.calendar_vac::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #2C3E50;
    opacity: 0.5;
    transform: translateY(8px);
    margin-right: 5px;
}
.calender_phon{
    background-color: #FF5824;
    width: 300px;
    line-height: 3;
    text-align: center;
    border-radius: 10px;
    margin: 40px auto 0;
    box-shadow: 2px 2px 2px #404040;
}
.calender_phon a{
    text-decoration: none;
    color: white;
}
.calender_text{
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* セクション3 */
dl,dt,dd{
    letter-spacing: 0.05em;
    padding-right: 10px
}
.section3{
    background-color: #727272;
    padding-top: 150px;
}
.tag2{
    color: #B7B7B7;
    font-size: 140%;
    text-align: center;
    font-family: "Abhaya Libre";
}
.sec3_photo1{
    display: flex;
    justify-content: center;
}
.sec3_photo1 img{
    width: 330px;
    height: 250px;
    margin-top: 40px;
}
.section3 dl{
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px white solid;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-left: 6%;
    margin-right: 6%;
}
.section3 dl dt{
    font-size: 110%;
    font-family: "Zen Old Mincho";
    padding-left: 20px;
}
/* アクセス */
.access h2{
    margin: 150px auto 20px;
}
.access p{
    color: white;
    text-align: center;
    line-height: 2;
}
.access ul{
    margin-top: 20px;
    max-inline-size: max-content;
    margin-inline: auto;
}
.access ul li{
    color: white;
    font-size: 90%;
    line-height: 1.5;
    list-style: none;
}
.goglemap{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: 1200px;
}
/* メニュー */
.menu h2{
    margin-top: 150px;
}
.slider-menu{
    width: 80%;
    margin: 20px auto;
    padding-bottom: 10px;
}
.slider-menu img{
    width: 100%;
    max-width: 400px;
    max-height: 500px;
    margin: 0 auto;
}
.slider-menu .slick-slide{
    margin-left: 10px;
    margin-right: 10px;
}
.slick-dots{
    background-color: #727272;
}
.slick-dots li.slick-active button::before{
    color: white;
}
.kara{
    width: 100%;
    height: 100px;
}

/* セクション5 */
.section5{
    padding-top: 100px;
}
.mes_photo{
    display: flex;
    justify-content: center;
}
.mes_photo img{
    width: 300px;
    height: auto;
    margin-top: 20px;
}
/* .mes_info{
    color: white;
    margin: 10px auto;
    width: 50%;
    display: flex;
    justify-content: flex-end;
} */
.mes_text{
    color: white;
    text-align: center;
    margin: 40px 40px 0;
    line-height: 2.5;
    /* font-size: 110%; */
}
.mes_text2{
    margin-top: 20px;
}
.cicle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    z-index: -10;
    display: grid;
    place-items: center;
    margin-top: 130px;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 100px;
}
.back{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 8px #404040 solid;
    border-right: 8px #404040 solid;
    border-radius: 4px;
    color: #404040;
    z-index: 10;
    transform: rotate(-45deg);
}

/* フッター */
footer{
    background-color: #727272;
}
.fot_title{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}
.fot_title a{
    font-family: "Abhaya Libre";
    font-size: 200%;
    text-align: center;
    text-decoration: none;
    color: white;
}
.fot_title span{
    font-family: "Zen Old Mincho";
}

.fot_lust{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fot_ilust{
    width: 40%;
    max-width: 220px;
    margin-left: 30px;
}
.copy{
    color: white;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 40px;
}
.box{
    opacity: 0;
    transition: 1.5s;
    position: relative;
    top: 50px;
}
.active {
    opacity: 1;         
    top: 0;    
}


/* pc記述 */
@media screen and (min-width:1025px){
    .sp{
        display: none;
    }
    .pc{
        display: block;
    }
    .pc900{
        display: block;
    }
    body{
        background-color: #404040;
    }

    /* ヘッダー */　
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    header{
        padding: 20px 40px;
        box-sizing: border-box;
    }
    .title_pc{
        color: white;
        font-family: "Abhaya Libre";
        font-size: 200%;
    }
    .title_pc a{
        text-decoration: none;
        color: white;
    }
    .title_pc span{
        color: white;
        font-family: "Zen Old Mincho";
        font-weight: 600;
        font-size: 130%;
    }
    .number{
        color: white;
        text-align: center;
        margin-left: auto;
    }
    .p2{
        font-size: 180%;
        font-weight: bold;
    }
    .logo_white{
        margin: 0 auto;
    }

    /* セクション1 */
    .sec1_photo1 img{
        width: 500px;
        height: 400px;
    }
    .sec1_pc{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }
    .list_flex ul li{
        padding-bottom: 20px;
    }
    .text_lust{
        font-size: 150%;
    }

    /* セクション2 */
    .section2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 150px;
        position: relative;
    }
    .point1_text,
    .point2_text{
        line-height: 2;
    }
    .pc_point2_text{
        margin-left: 60px;
    }
    .deco{
        width: 80%;
        height: 400px;
        position: absolute;
        top: 1500px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .slider2{
        width: 88%; 
        margin: 170px auto;
    }
    .slick-track{
        display: flex;
        align-items: flex-end;
    }
    .slider2 img{
        width: 95%;
        max-height: 550px;
    }

    /* セクション3 */
    .sec3_photo1 img{
        width: 500px;
        height: 350px;
    }
    .info1_pc{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 40px auto;
        max-width: 1200px;
    }
    .info_pc{
        width: 40%;
    }

    /* セクション5 */
    .mes{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .mes_text{
        font-size: 110%;
    }

    /* メニュー */
    .menu_pc1 img{
        width: 300px;
        height: auto;
    }

    /* フッター */
    .fot_pc{
        background-color: #727272;
    }
    .fot_flex{
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 1000px;
        margin: 0 auto;
    }
    .fot_phone p{
        color: white;
        text-align: center;
    }
    .fot_phone span{
        font-size: 120%;
        font-weight: bold;
    }
}


/* 1400px以上 */
@media screen and (min-width:1400px){
    .pc1400{
        display: block;
    }
    .sp{
        display: none;
    }
    .slider-menu{
        display: none;
    }
    .deco{
        top: 1380px;
    }
    /* メニュー表 */
    .menu_pc1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px auto;
    }
    .menu_pc1 div{
        margin: 0 10px;
    }
    .menu_pc1 img{
        width: 300px;
        height: auto;
    }
}


@media screen and (max-width:374px){
    .logo_white{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo_white img{
        width: 90%;
    }
}




